body {
            background-color: #708090;
        }
        article {
            background-color: #90EE90;
            color: #708090;
            font-family: Tahoma;
            margin: 100px auto;
            padding: 20px;
            width: 480px;
        }
        article h1 {
            text-align: center;
        }
        article p {
            text-align: justify;
        }