doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title challenge.pug
	body
		h1 CHALLENGE PUG
		table(width="500px")
			- var i = 2
			- var r = 350
			- var g = 250
			- var b = 220
			while i <= 10
				tr
					td(style="background-color: rgb("+r+","+g+","+b+"); height: 15px")
					- i++
					- r-=23
					- g-=23